.pswp__button.pswp__button--zoom {
  display: none!important;
}

.swiper-slide {
  width: 100%!important;
}

.swiper-pagination-fraction {
  position: relative!important;
  padding: 25px 0;
}

.swiper-pagination-fraction > span {
  font-size: .9375rem;
}