@charset "UTF-8";

article,
aside,
body,
button,
dd,
dialog,
dl,
dt,
fieldset,
figure,
footer,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
legend,
li,
main,
nav,
ol,
p,
section,
select,
table,
td,
textarea,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i {
  font-style: normal;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: 
  'GowunBatang',
  'NanumSquareLight',
  'Pretendard',
  'Continuous',
  'GowunDodum',
  'PlaypenSans',
  'TheGirlNextDoor',
  system-ui,
  Helvetica,
  Arial,
  cursive,
  sans-serif;
  line-height: 1.6;
  color: rgba(255, 255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  
  text-align: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  display: flex;
  justify-content: center;
}

ol,
ul {
  list-style: none;
}

/* ko */
@font-face {
  font-family: 'GowunDodum';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Ryuyanghee/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GowunBatang';
  src: url('../src/assets/fonts/GowunBatang-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'GowunBatang';
  src: url('../src/assets/fonts/GowunBatang-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NanumSquareLight';
  src: url('../src/assets/fonts/NanumSquareL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  src: url('../src/assets/fonts/NanumSquareR.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard', sans-serif;
  src: url('../src/assets/fonts/Pretendard-Light.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'Pretendard', sans-serif;
  src: url('../src/assets/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}
